.ordersDiv{
    margin:10px auto;
    width:90%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap:5px;
}

.ordersTable{
    width: 100%;
    border: thin solid black;
    border-collapse: collapse;
    text-align: center;
}
.ordersTable th,td{
    border: thin solid black;
}

.highlightedOrder{
    background-color: yellow;
}

.order{
    border: thin solid black;
}
.orderInfo{
    display: flex;
    justify-content: space-around;
}

.productImg{
    display: inline-block;
    vertical-align: middle;
    width:30px;
    height:30px;
}

.productInfo{
    display: inline-block;
    margin: 5px 5px;
}
