
#product{
    width: 60%;
    height:400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product .product-image{
    border: medium solid black;
    width:100%;
    justify-self: center;
}

#product .product-info{
    text-align: center;
}

#product-msg{
    color:green;
}

#qty1{
    margin: 0 5px;
}
#product-notinbasket-div{
    margin-top: 10px;
}
#product-inbasket-div button{
    margin: 0px 1px;
}
#product-inbasket-div{
    margin-top: 10px;
}