
#product{
    width: 60%;
    height:400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product .product-image{
    border: medium solid black;
    width:100%;
    justify-self: center;
}

#product .product-info{
    text-align: center;
}

#product-msg{
    color:green;
}